body {
    overflow-x: hidden;
}

nav{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:40px;
    background-color: #495057;
}

nav a{
    width:10vw;
    text-align: center;
    font-family: Times, Times New Roman, serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin:auto;
    white-space: nowrap;
    font-size: large;
}

#head {
    width: 100%;
    height: 230px;
    opacity: 0.4;
    position: relative;
}

h1 {
    font-family: Times, Times New Roman, serif;
    color: black;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

.container {
    height: 230px;
    width: 100%;
    background: black;
    overflow: hidden;
}

#logo {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: Times, Times New Roman, serif;
    color: black;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

p {
    font-size: 20px;
    font-family: Times, Times New Roman, serif;
    color: black;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

#symphony {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    float: left;
    width: 75%;
}

.right-section {
    float: left;
    width: calc(25% - 20px);
}

#beethoven {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

#right {
    text-align: center;
    font-family: Times, Times New Roman, serif;
    color: black;
    line-height: 1.2;
    margin-top: 10px;
    background: #2a6f97;
    margin-left: 20px;
}

#be {
    text-align: left;
    font-family: Times, Times New Roman, serif;
    color: black;
    margin-left: 10px;
    line-height: 0.1;
    font-size: 20px;
    font-style: italic;
    white-space: nowrap; 
}

#vivaldi {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

#vi {
    text-align: left;
    font-family: Times, Times New Roman, serif;
    color: black;
    margin-left: 10px;
    line-height: 0.1;
    font-size: 20px;
    font-style: italic;
    white-space: nowrap;
}

#four-seasons {
    width: 250px;
    height: auto;
}


.box2 {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.box2 > div {
    box-sizing: border-box;
    margin: 1em;
    flex: 1 1 20em;
}

.events {
    text-align: right;
    margin-left: auto;
}

h3 {
    text-align: center;
    font-family: Times, Times New Roman, serif;
    color: white;
    line-height: 1.2;
    margin-top: 10px;
    background: #2a6f97;
}

.box3 {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.box3 > div {
    box-sizing: border-box;
    margin: 1em;
    flex: 1 1 20em;
}

.events2 {
    text-align: right;
    margin-left: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    gap: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.grid-item img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.grid-item .text {
    flex: 1;
}

.grid-item h3 {
    text-align: center;
    font-family: Times, Times New Roman, serif;
    color: white;
    line-height: 1.2;
    background: #2a6f97;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#F&R {
    margin-top: 30px;
    text-align: left;
}

footer p {
    background-color:#495057;
    font-family: Times, Times New Roman, serif;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 10px;
}

@media only screen and (max-width: 400px) {
    nav {
        height: 20vh;
    }
}

/* Media query for laptop screens (up to 1500px width) */
@media only screen and (min-width: 401px) and (max-width: 1500px) {
    nav {
        height: 8vh; /* Adjust the height for laptop screens */
    }
}